@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");




/* 사이드바 */
#header img {
    top: 0;
    width: 300px;
}


#header h1 {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 999;
}


#header nav {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    z-index: 999;
}

#header nav>ul {
    width: 50px;
}

#header nav>ul>li>a {
    position: relative;
    display: block;
    height: 20px;
    font-size: 0;

}

#header nav>ul>li>a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 15px;
    height: 2px;
    background: #ddd;

}

#header nav>ul>li.on>a::after {
    width: 40px;
    transition: 0.5s;
}

.main .inner {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    top: 500px;
    left: 0;
    padding: 0 0 0 150px;

    color: #fff;
}

.main .inner h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
    text-shadow: 0 0 2px #000;
    color: #fff;

}

.main .inner p {
    font-size: 18px;
    font-weight: 700;
    padding: 50px 0 0 20px;
    word-break: keep-all;
    color: #fff;
    padding: 0 20px;
}

.main .inner a {
    font-size: 16px;
    font-weight: 700;
    padding: 60px 0 0 20px;
    text-shadow: 0 0 3px #000;
    color: #fff;
}



.section h2 {
    opacity: 0;
    transform: translate(0, 100px);
}

.section.on h2 {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.3s 0.3s;
}

.section p {
    opacity: 0;
    transform: translate(0, 100px);
}

.section.on p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}








/* 상위메뉴 */
.header_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    line-height: 80px;
    background: transparent;
}

.header_top:hover {
    background: transparent;

}

.header_top h1 {
    flex: 1;
    font-size: 0;
}



.header_top .link {
    flex: 1;
    text-align: center;
    margin: 50px 0;

}

.header_top .gnb>ul {
    display: flex;
    justify-content: center;
    width: 1200px;

}



.header_top .gnb>ul>li>a {
    padding: 40px 40px;
    color: #fff;
    font-size: 18px;
    display: block;
    text-align: center;
}

.header_top .submenu a {
    color: #fff;
}



.header_top .gnb>ul>li:hover .menu_wrap {
    display: block;
    background: transparent rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100px;
    left: 20%;
    line-height: 30px;
    width: 100px;
    transform: translate(-50%, 0);
    margin: 30px 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;

}

.header_top .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0;
    line-height: 25px;
    display: none;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}



.header_top .mega {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 100px;
    gap: 50px;

}

.header_top .mega img {
    width: 300px;
    height: 150px;
}




.header_top .mega .right_menu {
    display: flex;
    gap: 30px;

}





.header_top .gnb:hover>ul>li .right_menu {

    height: 500px;
    margin: 20px 0;
}

.header_top .gnb::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.5);

    transition: 0.5s;
}



.mainContent {
    padding: 20px 20px;
    background: rgba(0, 0, 0, 0.95);
    height: 1000px;

}

.mainContent h2 {
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #fff;
}

.mainContent p {
    font-size: 15px;
    text-align: center;
    margin: 0 0 10px 0;
    color: #fff;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    top: 250px;
    left: 230px;

}

.mainContent .inner figure {
    flex: 1;
}

.mainContent .inner figure h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    color: #333;
}

.mainContent .inner figure pp {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
    color: #333;
    line-height: 20px;
    word-break: keep-all;
}

.mainContent .inner>div {
    position: relative;
    flex: 1;
    border: 1px solid #f7f7f7;
    padding: 10px;

    border-radius: 5px;
    background: #ddd;
}



.mainContent .inner>div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0.5s;

}

.mainContent .inner>div:hover::before {
    width: 100%;
    height: 100%;
    visibility: visible;

}

.mainContent .inner>div::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
}

.mainContent .inner>div:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;

}


.section_vd .mainCustomer {
    position: relative;
    padding: 10px 0;
    height: 1000px;
    background: #fff;
    top: 0;
}



.video iframe {
    position: relative;
    height: 800px;
    width: 1500px;
    display: flex;


}

.mainCustomer {
    display: block;
}

.mainCustomer .inner {
    margin: 1000px 0;
}

.mainCustomer .inner h3 {
    font-size: 80px;
    font-weight: bold;
    top: 0;
    padding: 10px 0;
    text-align: left;
    color: #333;
}

.mainCustomer .inner p {
    font-size: 18px;
    font-weight: bold;

    text-align: left;
    color: #333;
    line-height: 40px;
}


















#footer .totop {
    position: fixed;
    bottom: 80px;
    right: 50px;
    z-index: 999;
    color: #fff;
    height: 30px;
    width: 30px;

}

#footer .totop p {
    padding: 20px 0;

}

#footer {
    background: #343a40;
    color: #f8f9fa;
    padding: 0 0 50px 0;
}


#footer .top02 {
    line-height: 80px;
    border-bottom: 1px solid #555;
}

#footer .top02 .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

#footer .top02 .left {
    font-size: 0;
}

#footer .top02 .left li {
    display: inline-block;
    font-size: 15px;

}

#footer .top02 .left li~li::before {
    content: "";
    margin: 0 20px;
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ddd;
}

#footer .top02 .right {
    display: flex;
    gap: 2px;
}

#footer .top02 .right i {
    font-size: 20px;
    padding: 10px;
    background: #333;
    border-radius: 50%;
}

#footer .bottom {
    line-height: 80px;
}

#f_link {
    border: none;
    outline: none;
    padding: 5px 20px;
    background: #343a40;
    border: 1px solid #555;
}

#f_link option {
    padding: 5px 20px;
}