@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}

.Wrap {
    min-width: 1200px;
}

/* 상위메뉴설정 */

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    line-height: 80px;
    background: transparent;
}

#header:hover {
    background: transparent;

}

#header h1 {
    flex: 1;
    font-size: 0;
}



#header .link {
    flex: 1;
    text-align: center;
    margin: 50px 0;

}

#header .gnb>ul {
    display: flex;
    justify-content: center;
    width: 1200px;

}



#header .gnb>ul>li>a {
    padding: 40px 40px;

    font-size: 18px;
}

#header .gnb>ul>li a {
    display: block;
    text-align: center;

}





#header .gnb>ul>li:hover .menu_wrap {
    display: block;
    background: transparent;
    position: absolute;
    top: 100px;
    left: 20%;
    line-height: 30px;
    width: 100px;
    transform: translate(-50%, 0);
    margin: 30px 0;
    height: 0;

    transition: 0.5s;

}


#header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0;
    line-height: 25px;
    display: none;
    background: transparent;

}



#header .mega {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 100px;
    gap: 50px;

}

#header .mega img {
    width: 300px;
    height: 150px;
}




#header .mega .right_menu {
    display: flex;
    gap: 30px;

}





#header .gnb:hover>ul>li .right_menu {

    height: 500px;
    margin: 20px 0;
}

#header .gnb::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.3);

    transition: 0.5s;
}

#header:hover .gnb::before {
    height: 200px;
    margin: 20px 0;
}



/* 메인페이지 설정 */

.mainVisual {
    position: relative;

}

.mainVisual .mainSlide figure {
    position: relative;
    height: 1000px;
    top: 0;
    margin: 0 auto;
}


.mainVisual .mainSlide .itm01 {
    background: url(../img/main01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main02.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/photo01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm04 {
    background: url(../img/main06.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm05 {
    background: url(../img/main05.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 350px 0 0 150px;
    text-shadow: 0 0 3px #000;
    color: #fff;

}

.mainVisual .mainSlide p {
    font-size: 15px;
    font-weight: 700;
    padding: 50px 0 0 150px;
    text-shadow: 0 0 3px #000;
    color: #fff;
}

.mainVisual .mainSlide a {
    font-size: 15px;
    font-weight: 700;
    padding: 80px 0 0 150px;
    text-shadow: 0 0 3px #000;
    color: #fff;
}

.mainContent {
    padding: 100px 0;
    background: rgba(0, 0, 0, 0.95);
    height: 1300px;
}

.mainContent h2 {
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #fff;
}

.mainContent p {
    font-size: 15px;
    text-align: center;
    margin: 0 0 130px 0;
    color: #fff;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1500px;
    margin: 0 auto;
}

.mainContent .inner figure {
    flex: 1;
}

.mainContent .inner figure h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
    color: #333;
}

.mainContent .inner figure p {
    font-size: 15px;
    margin: 30px 0;
    text-align: center;
    color: #333;
    line-height: 30px;
}

.mainContent .inner>div {
    position: relative;
    flex: 1;
    border: 1px solid #f7f7f7;
    padding: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #ddd;
}

.mainContent .inner>div:hover {
    box-shadow: none;
}

.mainContent .inner>div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 3px solid #333;
    border-left: 3px solid #333;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0.5s;

}

.mainContent .inner>div:hover::before {
    width: 100%;
    height: 100%;
    visibility: visible;

}

.mainContent .inner>div::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
}

.mainContent .inner>div:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;

}

.mainCustomer {
    padding: 100px 0;
    background: #fff;
    height: 1600px;
}

.video iframe {
    position: relative;
    height: 800px;
    width: 1500px;
    display: flex;
    background: center;
    margin: 200px 0 0 200px;
}

.mainCustomer .inner h3 {
    font-size: 80px;
    font-weight: bold;
    margin: 50px 200px;
    text-align: left;
    color: #333;
}

.mainCustomer .inner p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 200px;
    text-align: left;
    color: #333;
    line-height: 40px;
}



#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0 60px 0;
}