@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}

.Wrap {
    min-width: 1200px;
}

/* 상위메뉴설정 */

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    line-height: 80px;
    background: transparent;
}

#header:hover {
    background: transparent;

}

#header h1 {
    flex: 1;
    font-size: 0;
}



#header .link {
    flex: 1;
    text-align: center;
    margin: 50px 0;

}

#header .gnb>ul {
    display: flex;
    justify-content: center;
    width: 1200px;

}



#header .gnb>ul>li>a {
    padding: 40px 40px;

    font-size: 18px;
}

#header .gnb>ul>li a {
    display: block;
    text-align: center;

}





#header .gnb>ul>li:hover .menu_wrap {
    display: block;
    background: transparent;
    position: absolute;
    top: 100px;
    left: 20%;
    line-height: 30px;
    width: 100px;
    transform: translate(-50%, 0);
    margin: 30px 0;
    height: 0;

    transition: 0.5s;

}


#header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0;
    line-height: 25px;
    display: none;
    background: transparent;

}



#header .mega {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 100px;
    gap: 50px;

}

#header .mega img {
    width: 300px;
    height: 150px;
}




#header .mega .right_menu {
    display: flex;
    gap: 30px;

}





#header .gnb:hover>ul>li .right_menu {
    height: 500px;
    margin: 20px 0;
}

#header .gnb::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.3);

    transition: 0.5s;
}

#header:hover .gnb::before {
    height: 200px;
    margin: 20px 0;
}



/* 메인페이지 설정 */

.mainVisual {
    position: relative;

}

.mainVisual .mainSlide figure {
    position: relative;
    height: 1000px;
    top: 0;
    margin: 0 auto;
}


.mainVisual .mainSlide .itm01 {
    background: url(../img/main01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main02.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/photo01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm04 {
    background: url(../img/main06.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm05 {
    background: url(../img/main05.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 350px 0 0 150px;
    text-shadow: 0 0 3px #000;
    color: #fff;

}

.mainVisual .mainSlide p {
    font-size: 15px;
    font-weight: 700;
    padding: 50px 0 0 150px;
    text-shadow: 0 0 3px #000;
    color: #fff;
}

.mainVisual .mainSlide a {
    font-size: 15px;
    font-weight: 700;
    padding: 80px 0 0 150px;
    text-shadow: 0 0 3px #000;
    color: #fff;
}